@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Pacifico&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --brand-color: #ff662e;
  --primary-color: #21074e;
  --primary-color-shade-light: #371f6e;
  --primary-color-shade-dark: #312e81;
  --light-color: #f9fafb;
  --light-color-shade-one: #e5e7eb;
  --light-color-shade-two: #d1d5db;
  --dark-color: #111827;
  --dark-color-shade-one: #374151;
  --dark-color-shade-two: #4b5563;
}

span {
  color: var(--brand-color);
}

body {
  color: var(--light-color-shade-one);
  background-color: var(--primary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 33.33%,
    var(--primary-color-shade-dark) 66.66%,
    var(--primary-color) 100%
  );
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  height: 6.2rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.logo {
  font-family: "pacifico";
  font-size: 3.5rem;
  color: var(--brand-color);
}

.logo:hover {
  color: var(--light-color);
}

.navlist {
  display: flex;
  list-style: none;
}

.navlist-items {
  font-size: 1.6rem;
  font-weight: 600;
}

.navlist-items a {
  color: inherit;
  padding: 2.2rem 2rem 2rem;
  text-decoration: none;
}

.navlist-items a:hover {
  background-color: var(--primary-color-shade-light);
}

.navlist-items a:active {
  background-color: var(--primary-color-shade-light);
}

.container {
  margin: 0 auto;
  width: 90vw;
}

main {
  color: var(--light-color);
  min-height: 100vh;
  padding-top: 8.2rem;
  position: relative;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero h1 {
  color: var(--light-color);
  font-size: 5rem;
  font-weight: 800;
  margin: 2rem 0 0;
}

.hero h2 {
  font-size: 3rem;
  color: var(--light-color-shade-two);

  font-weight: 500px;
  margin: 0;
}

.hero p {
  font-size: 1.6rem;
}

.illustration {
  width: 60rem;
  height: 50rem;
  padding: 2rem;
}

.illustration img {
  max-width: 100%;
}

section {
  text-align: center;
}

section h2 {
  font-size: 3rem;
  color: var(--brand-color);
}
.skills-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-section i {
  font-size: 7rem;
}

.skills-section p {
  font-size: 1.6rem;
}

.skill {
  width: 20rem;
  padding: 2rem;
  transition: color 0.3s ease-in;
}

.skill:hover {
  color: var(--brand-color);
}

.project {
  max-width: 35rem;
  height: 45rem;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.project img {
  max-width: 100%;
}

.project-title {
  color: var(--brand-color);
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0.7;
}

.project-description {
  font-size: 1rem;
}

.certifications-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.certification {
  max-width: 45rem;
}

.certification img {
  max-width: 100%;
}

.certification p {
  color: var(--brand-color);
  font-size: 1.6rem;
  opacity: 0.7;
}

footer {
  background-color: var(--primary-color);
  padding: 5rem;
  text-align: center;
}

footer h2 {
  font-size: 3rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

footer li {
  padding: 2rem 2rem;
}

footer li a {
  color: var(--light-color);
  font-size: 3rem;
  transition: color 0.3s linear;
}

footer li a:hover {
  color: var(--brand-color);
}
