@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Pacifico&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #6366f1;
  --bg-color: #ffffff;
  --bg-color-shade-one: #f1f1f1;
  --bg-color-shade-two: #eaeded;
  --nav-color: #fafafa;
  --font-color: #17202a;
  --font-color-shade-one: #2e4053;
  --font-color-shade-two: #5d6d7e;
}

[data-theme="dark"] {
  --primary-color: #6366f1;
  --bg-color: #191919;
  --bg-color-shade-one: #111111;
  --bg-color-shade-two: #111111;
  --nav-color: #292929;
  --font-color: #ffffff;
  --font-color-shade-one: #bfc9ca;
  --font-color-shade-two: #5d6d7e;
}

span {
  color: var(--primary-color);
}

html {
  font-size: 62.5%;
  font-family: "montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  margin: 0;
  transition: background 0.2s linear;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  align-items: center;
  background-color: var(--nav-color);
  box-shadow: 0 0 10px var(--bg-color-shade-two);
  color: var(--primary-color);
  display: flex;
  height: 6.2rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.logo {
  font-family: "pacifico";
  font-size: 3.5rem;
  color: var(--primary-color);
}

.navlist {
  display: flex;
  list-style: none;
}

.navlist-items {
  font-size: 1.8rem;
  font-weight: 600;
}

.navlist-items a {
  color: inherit;
  padding: 2.2rem 1rem;
  text-decoration: none;
  transition: background-color 0.8s ease;
}

.navlist-items a:hover {
  background-color: var(--bg-color-shade-one);
}

.container {
  margin: 0 auto;
  width: 90vw;
}

main {
  color: var(--font-color);
  padding-top: 6.2rem;
  position: relative;
}

.hero {
  width: 50%;
}

.hero-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 95vh;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.hero h1 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 800;
  margin: 2rem 0 0;
}

.hero h2 {
  font-size: 3rem;
  color: var(--font-color-shade-one);
  font-weight: 500px;
  margin: 0;
}

.hero p {
  font-size: 1.6rem;
}

.illustration {
  width: 50%;
  height: auto;
  padding: 2rem;
}

.illustration img {
  max-width: 100%;
}

section {
  text-align: center;
}

section h2 {
  font-size: 3rem;
  color: var(--primary-color);
}

.skills-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-section i {
  font-size: 7rem;
}

.skills-section p {
  font-size: 1.6rem;
}

.skill {
  width: 20rem;
  padding: 2rem;
  transition: color 0.3s ease-in;
}

#projects {
  padding: 2rem;
  scroll-margin-top: 10rem;
}

.project {
  height: 40rem;
  max-width: 35rem;
  padding: 0.5rem;
}

.projects-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project img {
  max-width: 100%;
  height: 25rem;
}

.project-title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0.7;
}

.project-description {
  font-size: 1.2rem;
}

#projectlink {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.8s ease-out;
}

#projectlink:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.certifications-section {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.certification {
  max-width: 45rem;
}

.certification img {
  max-width: 100%;
  height: 25rem;
}

.certification p {
  color: var(--dark-color);
  font-size: 1.6rem;
}

footer {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 2rem 4rem 0.1rem;
  text-align: center;
}

footer h2 {
  font-size: 2rem;
  color: var(--light-color);
  margin: 0.5rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

footer li {
  padding: 2rem 2rem;
}

footer li a {
  color: var(--light-color);
  font-size: 1.6rem;
  transition: color 0.3s linear;
}

footer i {
  font-size: 2.8rem;
}

footer li a:hover {
  color: var(--primary-hover-color);
}

/*Projects page*/
.projects {
  width: 70vw;
  margin: 0 auto;
}

.project-wrapper {
  align-items: center;
  box-shadow: 0 2px 10px var(--bg-color-shade-two);
  background-color: var(--bg-color-shade-one);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 4rem 0;
  padding: 4rem;
  position: relative;
}

.proj-image {
  width: 35rem;
}

.proj-image img {
  max-width: 100%;
  max-height: 100%;
}

.proj-details {
  width: 35rem;
  margin-left: 1.2rem;
}

.proj-details h3 {
  color: var(--primary-color);
  font-size: 2.2rem;
}

.proj-details p,
.proj-details a {
  font-size: 1.6rem;
  color: var(--light-color-shade-one);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.proj-details a {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem;
  margin-right: 0.5rem;
}

.proj-details a:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.tags {
  position: absolute;
  background-color: #fc5c5c;
  color: var(--font-color);
  font-size: 1.4rem;
  top: 1.2rem;
  right: 2rem;
  padding: 0.8rem;
}

.blog-wrapper {
  box-shadow: 0 0px 14px var(--bg-color-shade-two);
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 2.5rem;
}

.blog-container {
  background-color: var(--bg-color-shade-one);
  display: flex;
  justify-content: space-around;
}

.cover-image {
  width: 48%;
}

.cover-image img {
  max-width: 100%;
}

.blog-info {
  width: 48%;
}

.blog-info h2 {
  font-size: 2.5rem;
}

.blog-info small {
  font-size: 1.2rem;
}

.blog-info p {
  font-size: 1.6rem;
}

.blog-link {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.blog-link:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
}

.checkbox-container {
  background-color: var(--font-color);
  border-radius: 2rem;
  height: 1.8rem;
  position: relative;
  width: 3.5rem;
}

input[type="checkbox"] {
  display: none;
}

.toggle {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 50%;
  top: 0.2rem;
  left: 0.2rem;
  transition: transform 0.2s linear;
}

.checkbox:checked + .toggle {
  transform: translateX(1.6rem);
}

@media (max-width: 1200px) {
  .hero {
    width: 40%;
  }

  .illustration {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .hero {
    width: 80%;
    margin: 0 auto;
  }

  .illustration {
    width: 85%;
    padding: 0;
  }

  .navlist-items a {
    padding: 2.2rem 0.5rem 2rem;
  }

  .tags {
    top: -10px;
  }
}

@media (max-width: 480px) {
  .hero {
    width: 80%;
    margin: 0 auto;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .illustration {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .projects {
    width: 90vw;
  }
}
